<h2>Listado de heroes</h2>

<div *ngIf="latestHero; else nothingWasDeleted">
    <h3>Heroe borrado <small class="text-danger">{{latestHero}}</small></h3>
</div>

<ng-template #nothingWasDeleted>
    <h3 *ngIf="!latestHero">No ha borrado nada.</h3>
</ng-template>


<button 
    *ngIf="heroNames.length > 0"
    (click)="deleteLatestHero()" 
    class="btn btn-outline-danger">
    Borrar ultimo heroe
</button>


<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" class="list-group-item">
        {{ name }}
    </li>
</ul>